*{
    box-sizing: border-box;
}
body {
    background-color: rgb(43, 45, 66);
    width: 100%;
    height: 100%;
    margin: 50px;
}
.container {
    width: 50vw;
    height: 100%;
    padding: 30px;
    margin: auto;
    border: 3px solid rgb(141, 153, 174);
    background-color: rgb(237, 242, 244);
    border-radius: 15px;
    box-shadow: 10px 10px 25px rgb(237, 242, 244);
    display: flexbox;
    justify-content: center;
    align-items: center;
}
.tittle {
    font-family: Courier New;
    width: 100%;
    margin: 0px 0px 15px;
    padding: 5px;
    text-align: center;
}
.tittle h1 {
    font-size: 30px;
}
.entry {
    width: 100%;
    margin: auto;
    padding: 0;
    justify-content: center;
    align-items: center;
}
input {
    width: 100%;
    height: 3vh;
    margin: 10px auto;
    padding: 20px;
    justify-content: center;
    align-items: center;
    font-family: Courier New;
    font-weight: 200px;
}
.button {
    background-color: rgb(239, 35, 60);
    width: 50%;
    margin: 20px ;
    border-radius: 10px;
}
.list-group-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.delete{
    display: none;
}
.list-group-item:hover .delete{
    display: inline-block;
    color: rgb(217, 4, 41);
}